<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPaths" value="/WEB-INF/templates/" />
        <property name="freemarkerVariables">
            <map>
                <entry key="statics"
                       value="#{T(freemarker.ext.beans.BeansWrapper).getDefaultInstance().getStaticModels()}"/>
            </map>
        </property>
        <property name="freemarkerSettings">
            <map>
                <entry key="default_encoding" value="UTF-8" />
                <entry key="tag_syntax" value="auto_detect" />
                <entry key="classic_compatible" value="true" />
                <entry key="date_format" value="yyyy-MM-dd" />
                <entry key="time_format" value="HH:mm:ss" />
                <entry key="datetime_format" value="yyyy-MM-dd HH:mm:ss" />
                <entry key="number_format" value="##0.##" />
            </map>
        </property>
    </bean>

</beans>